<h1>Packing list item details:</h1>
<h2>Description: @Model.Description</h2>
<h2>Price: @Model.Price</h2>
<h2>Manufacturer: @Model.Manufacturer</h2>
<h2>Is this item packed? @Model.IsPacked</h2>
<h2>Item ID: @Model.Id</h2>

<a href='/items/new'>Add another item</a>
<a href='/items'>View all items</a>